.dockerignore
.DS_Store
.editorconfig
.gitattributes
.gitignore
.gitlint
.prettierignore
.vscode
.vs
**/*.http
**/*.ico
**/*.sh
**/*.txt
**/*.xml
*.png
*.svg
Dockerfile
yarn.lock
package-lock.json
*.key
/build
*.env
*.env.*
LICENSE
